# Project 4, Part 1

Kris Barbier

In [2]:
#Imports
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import glob
import os
#Import tick customization tools
import matplotlib.ticker as mticks
import matplotlib.dates as mdates
#Settings
plt.rcParams['figure.figsize'] = (12,4)
pd.set_option('display.max_columns',50)

## Load in Combined Data

In [5]:
#Check what files exist in the folder
FOLDER = 'Data/Chicago/'
file_list = sorted(os.listdir(FOLDER))
file_list

['Chicago-Crime_2001.csv',
 'Chicago-Crime_2002.csv',
 'Chicago-Crime_2003.csv',
 'Chicago-Crime_2004.csv',
 'Chicago-Crime_2005.csv',
 'Chicago-Crime_2006.csv',
 'Chicago-Crime_2007.csv',
 'Chicago-Crime_2008.csv',
 'Chicago-Crime_2009.csv',
 'Chicago-Crime_2010.csv',
 'Chicago-Crime_2011.csv',
 'Chicago-Crime_2012.csv',
 'Chicago-Crime_2013.csv',
 'Chicago-Crime_2014.csv',
 'Chicago-Crime_2015.csv',
 'Chicago-Crime_2016.csv',
 'Chicago-Crime_2017.csv',
 'Chicago-Crime_2018.csv',
 'Chicago-Crime_2019.csv',
 'Chicago-Crime_2020.csv',
 'Chicago-Crime_2021.csv',
 'Chicago-Crime_2022.csv',
 'Chicago-Crime_2023.csv',
 'README.txt']

In [7]:
#Use glob to find crime csv files
q = FOLDER+"Chicago-*csv"
print(q)
file_list = sorted(glob.glob(q))
file_list

Data/Chicago/Chicago-*csv

['Data/Chicago/Chicago-Crime_2001.csv',
 'Data/Chicago/Chicago-Crime_2002.csv',
 'Data/Chicago/Chicago-Crime_2003.csv',
 'Data/Chicago/Chicago-Crime_2004.csv',
 'Data/Chicago/Chicago-Crime_2005.csv',
 'Data/Chicago/Chicago-Crime_2006.csv',
 'Data/Chicago/Chicago-Crime_2007.csv',
 'Data/Chicago/Chicago-Crime_2008.csv',
 'Data/Chicago/Chicago-Crime_2009.csv',
 'Data/Chicago/Chicago-Crime_2010.csv',
 'Data/Chicago/Chicago-Crime_2011.csv',
 'Data/Chicago/Chicago-Crime_2012.csv',
 'Data/Chicago/Chicago-Crime_2013.csv',
 'Data/Chicago/Chicago-Crime_2014.csv',
 'Data/Chicago/Chicago-Crime_2015.csv',
 'Data/Chicago/Chicago-Crime_2016.csv',
 'Data/Chicago/Chicago-Crime_2017.csv',
 'Data/Chicago/Chicago-Crime_2018.csv',
 'Data/Chicago/Chicago-Crime_2019.csv',
 'Data/Chicago/Chicago-Crime_2020.csv',
 'Data/Chicago/Chicago-Crime_2021.csv',
 'Data/Chicago/Chicago-Crime_2022.csv',
 'Data/Chicago/Chicago-Crime_2023.csv']

In [10]:
#Use list comprehension to load all files into 1 data frame
df = pd.concat([pd.read_csv(f, lineterminator = '\n') for f in file_list])
df

,ID,Date,Primary Type,Description,Location Description,Arrest,Domestic,Beat,District,Ward,Latitude,Longitude
0,1358218,01/01/2001 01:00:00 PM,ASSAULT,SIMPLE,APARTMENT,False,False,312,3.0,NaN,41.778744,-87.612135
1,1311933,01/01/2001 01:00:00 AM,SEX OFFENSE,CRIMINAL SEXUAL ABUSE,RESIDENCE,True,False,1434,14.0,NaN,41.910797,-87.682214
2,1310610,01/01/2001 01:00:00 AM,CRIMINAL DAMAGE,TO VEHICLE,STREET,False,False,1913,19.0,NaN,41.944854,-87.684418
3,1328315,01/01/2001 01:00:00 AM,DECEPTIVE PRACTICE,FRAUD OR CONFIDENCE GAME,RESIDENCE,False,False,725,7.0,NaN,41.771269,-87.662929
4,1311123,01/01/2001 01:00:00 AM,CRIMINAL DAMAGE,TO VEHICLE,STREET,False,False,1223,12.0,NaN,41.854014,-87.681909
...,...,...,...,...,...,...,...,...,...,...,...,...
184358,13214935,09/18/2023 12:00:00 AM,THEFT,OVER $500,APARTMENT,False,False,1934,19.0,44.0,41.934326,-87.640408
184359,13214587,09/18/2023 12:00:00 AM,MOTOR VEHICLE THEFT,AUTOMOBILE,STREET,False,False,1533,15.0,28.0,41.880486,-87.746119
184360,13216919,09/18/2023 12:00:00 AM,THEFT,$500 AND UNDER,STREET,False,False,1924,19.0,44.0,41.944512,-87.650520
184361,13215232,09/18/2023 12:00:00 AM,THEFT,$500 AND UNDER,CTA BUS,False,False,531,5.0,9.0,41.688692,-87.610781
184362,13215463,09/18/2023 12:00:00 AM,ASSAULT,SIMPLE,RESIDENCE,False,False,313,3.0,20.0,41.783364,-87.614489

In [11]:
#Inspect info
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7897703 entries, 0 to 184362
Data columns (total 12 columns):
 #   Column                Dtype
---  ------                -----
 0   ID                    int64
 1   Date                  object
 2   Primary Type          object
 3   Description           object
 4   Location Description  object
 5   Arrest                bool
 6   Domestic              bool
 7   Beat                  int64
 8   District              float64
 9   Ward                  float64
 10  Latitude              float64
 11  Longitude             float64
dtypes: bool(2), float64(4), int64(2), object(4)
memory usage: 677.9+ MB

## Preparation for Analysis

### Convert to Datetime Data Type

In [13]:
#Check datetime format
test = df['Date'][0]
test

0    01/01/2001 01:00:00 PM
0    01/01/2002 01:00:00 PM
0    01/01/2003 01:00:00 PM
0    01/01/2004 01:00:00 AM
0    01/01/2005 01:00:00 AM
0    01/01/2006 01:00:00 PM
0    01/01/2007 01:00:00 PM
0    01/01/2008 01:00:00 PM
0    01/01/2009 01:00:00 PM
0    01/01/2010 01:00:00 PM
0    01/01/2011 01:00:00 AM
0    01/01/2012 01:00:00 AM
0    01/01/2013 01:00:00 AM
0    01/01/2014 01:00:00 AM
0    01/01/2015 01:00:00 AM
0    01/01/2016 01:00:00 AM
0    01/01/2017 01:00:00 AM
0    01/01/2018 01:00:00 AM
0    01/01/2019 01:00:00 AM
0    01/01/2020 01:00:00 AM
0    01/01/2021 01:00:00 PM
0    01/01/2022 01:00:00 AM
0    01/01/2023 01:00:00 PM
Name: Date, dtype: object

- Need to use format: %m/%d/%Y %I:%M:%S %p

In [22]:
# #Set format
# fmt = "%m/%d/%Y %I:%M:%S %p"

In [31]:
#Convert date to datetime data type
df['Date'] = pd.to_datetime(df['Date'])
#Verify the change
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7897703 entries, 0 to 184362
Data columns (total 12 columns):
 #   Column                Dtype
---  ------                -----
 0   ID                    int64
 1   Date                  datetime64[ns]
 2   Primary Type          object
 3   Description           object
 4   Location Description  object
 5   Arrest                bool
 6   Domestic              bool
 7   Beat                  int64
 8   District              float64
 9   Ward                  float64
 10  Latitude              float64
 11  Longitude             float64
dtypes: bool(2), datetime64[ns](1), float64(4), int64(2), object(3)
memory usage: 710.1+ MB

### Set Datetime as Index

In [32]:
#Set date column as index
df_ts = df.set_index('Date')
df_ts.head()

,ID,Primary Type,Description,Location Description,Arrest,Domestic,Beat,District,Ward,Latitude,Longitude
Date,,,,,,,,,,,
2001-01-01 13:00:00,1358218,ASSAULT,SIMPLE,APARTMENT,False,False,312,3.0,NaN,41.778744,-87.612135
2001-01-01 01:00:00,1311933,SEX OFFENSE,CRIMINAL SEXUAL ABUSE,RESIDENCE,True,False,1434,14.0,NaN,41.910797,-87.682214
2001-01-01 01:00:00,1310610,CRIMINAL DAMAGE,TO VEHICLE,STREET,False,False,1913,19.0,NaN,41.944854,-87.684418
2001-01-01 01:00:00,1328315,DECEPTIVE PRACTICE,FRAUD OR CONFIDENCE GAME,RESIDENCE,False,False,725,7.0,NaN,41.771269,-87.662929
2001-01-01 01:00:00,1311123,CRIMINAL DAMAGE,TO VEHICLE,STREET,False,False,1223,12.0,NaN,41.854014,-87.681909

In [33]:
#Confirm index
df_ts.index

DatetimeIndex(['2001-01-01 13:00:00', '2001-01-01 01:00:00',
               '2001-01-01 01:00:00', '2001-01-01 01:00:00',
               '2001-01-01 01:00:00', '2001-01-01 01:00:00',
               '2001-01-01 01:00:00', '2001-01-01 13:00:00',
               '2001-01-01 13:00:00', '2001-01-01 01:00:00',
               ...
               '2023-09-18 00:00:00', '2023-09-18 00:00:00',
               '2023-09-18 00:00:00', '2023-09-18 00:00:00',
               '2023-09-18 00:00:00', '2023-09-18 00:00:00',
               '2023-09-18 00:00:00', '2023-09-18 00:00:00',
               '2023-09-18 00:00:00', '2023-09-18 00:00:00'],
              dtype='datetime64[ns]', name='Date', length=7897703, freq=None)

## Question 1: Comparing Police Districts

- Which district has the most crimes? 
- Which has the least?

### Resample Data

In [30]:
#Resample data to daily with sum
df_daily = df_ts.resample('D').size()
df_daily

Date
2001-01-01    1825
2001-01-02    1143
2001-01-03    1151
2001-01-04    1166
2001-01-05    1267
              ...
2023-09-14     629
2023-09-15     755
2023-09-16     712
2023-09-17     762
2023-09-18      21
Freq: D, Length: 8296, dtype: int64

### Impute (if necessary)